* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  cursor: none;
}

body,
html {
  width: 100%;
  height: 200vh;
  background-color: rgb(0, 0, 0);
}

.inner-cursor {
  position: fixed;
  left: 10px;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  background: red;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.5s, height 0.5s, background-color 0.2s, box-shadow 0.2s;
  z-index: 9999;
}

.outer-cursor {
  position: fixed;
  left: 10px;
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%);
  border: 1px solid red;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: border-color 0.2s, box-shadow 0.2s;
  z-index: 9998;
}

.inner-cursor,
.outer-cursor {
  transition: background-color 0.2s, border-color 0.2s;
}
